.js-tab-block:not(.active) {
	display: none !important;
}
.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    line-height: 1;
    text-align: center;
    font-size: 0;
    margin: 0;
	padding-top: 15px;
    li {
        margin: 0 5px 5px 0;
        padding: 0;
        display: block;
        &:before {
            display: none;
        }
        button {
            background: none;
            border: none;
            min-width: 0;
            padding: 0;
            box-shadow: none;
            font-size: 0;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #C4C4C4;
            &:hover, &.active {
                background: #F4555C;
            }
        }
    }
    .slick-active {
        button {
            background: #F4555C;
        }
    }
}
.btn-action-ico {
    min-width: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    font-size: 0;
    display: block;
    position: relative;
    overflow: hidden;
    width: 40px;height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    transition: all ease 0.2s;
    flex-shrink: 0;
    &:not(.btn) {
        background: none;
        border: none;
        box-shadow: none;
    }
    &.btn {
        min-width: 0;
        min-height: 0;
        padding: 0;
        display: block;
    }
    &:before, &:after, [class*="icon-"], img, svg {
        display: block;
        position: absolute;
        top: 0;bottom: 0;left: 0;right: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        transition: all ease 0.2s;
    }
    img, svg {
        max-width: 24px;
        max-height: 24px;
    }
    &:before, &:after {
        content: "";
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px auto;
    }
    &:hover {
        text-decoration: none;
        &:not(.btn) {
            background: none;
            box-shadow: none;
        }
    }
    &.ico-arrow {
        z-index: 20;
        cursor: pointer;
		width: 32px;height: 32px;
		border-radius: 50%;
		background: #fff;
        &:before {
            background-image: url(../img/icons/arrow-slider.svg);
			background-size: 12px auto;
        }
        &:hover {
			background: #fff;
        }
		&.slider-button-small {
			background-color: transparent;
		}
		&.slick-disabled {
			pointer-events: none;
		}
    }
    &.ico-arrow-prev {
        &:before {
            transform: rotate(180deg);
        }
    }
}
:is([class^="item-tile"]) {
    &:hover {
        .elm-photo, .tile-photo {
            img {
                transform: scale(1.03);
            }
        }
    }
}
.elm-photo, .tile-photo {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    line-height: 1;
    &:before {
        content: "";
        display: none;
        padding-top: 100%;
    }
    img {
        display: block;
        position: relative;
        width: 100%;
        transition: all ease-out 1s;
    }
    &.photo-cover {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &.photo-contain {
        &:before {
            display: block;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
    }
}
@supports (aspect-ratio: 1) {
    .elm-photo, .tile-photo {
        &:not(.photo-cover, .photo-contain) {
            aspect-ratio: inherit !important;
        }
    }
    .photo-cover, .photo-contain {
        aspect-ratio: 1;
        &:before {
            display: none !important;
        }
    }
}
.item-tile-compare {
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	background: #fff;
	padding: 15px 20px;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 400;
	text-align: left;
	color: #000;
	border: 1px solid #E7F0F9;
}
.item-tile-compare .tile-title-wrap {
	display: block;
	width: 100%;
	flex: 1;
	padding-bottom: 10px;
}
.item-tile-compare .tile-photos-wrap {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;
	flex: 1;
}
.item-tile-compare .tile-photos-wrap .tile-photo-wrap {
	padding: 0 5px;
	margin-bottom: 10px;
	width: 50%;
	flex-shrink: 0;
}
.item-tile-compare .tile-slider-wrap {
	margin: 0 -4px;
	display: block;
	position: relative;
	padding: 0 20px;
}
.item-tile-compare .tile-slider {
	display: block;
	position: relative;
}
.item-tile-compare .tile-sl-wrap {
	display: flex !important;
	justify-content: space-between;
	padding: 0 4px;
	position: relative;
	cursor: pointer;
}
.item-tile-compare .tile-sl-wrap .tile-photo {
	flex-shrink: 0;
	width: calc(50% - 4px);
}
.item-tile-compare .slider-button-small {
	position: absolute;
	top: 50%;left: -30px;
}
.item-tile-compare .slider-button-small-next {
	left: auto;
	right: -30px;
}
.item-tile-compare p {
	margin: 0;
	padding: 0;
}
.item-tile-compare .tile-sticker {
	position: absolute;
	top: 12px;
	left: 0;
	z-index: 3;
	pointer-events: none;
}
.item-tile-compare .tile-sticker.st-second {
	left: auto;
	right: 0;
}
.item-tile-compare .tile-photo {
	border-radius: 15px;
	aspect-ratio: 1;
}
.page-title, .page-subtitle {
	display: block;
	font-size: 27px;
	line-height: 1.2;
	font-weight: bold;
	text-transform: uppercase;
	color: #446489;
	letter-spacing: 1px;;
	margin-bottom: 20px;
	text-align: left;
	font-family: Charter,sans-serif;
}
.page-title *, .page-subtitle * {
	font-family: Charter,sans-serif;
}
.page-subtitle {
	font-size: 18px;
	margin-bottom: 10px;
}
.page-title:last-child, .page-subtitle:last-child {
	margin-bottom: 0;
}
.tile-sticker {
	display: inline-block;
	position: relative;
	max-width: 100%;
	height: 24px;
	line-height: 24px;
	padding: 0 3px 0 15px;
	min-width: 50px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 1px;
	background: #F4555C;
	text-transform: uppercase;
	font-family: Charter,sans-serif;
}
.tile-sticker:before,
.tile-sticker:after {
	content: "";
	display: block;
	width: 0;height: 0;
	padding: 0;
	border: 1px solid rgba(0,0,0,0);
	border-width: 12px 10px;
	border-left-color: #F4555C;
	position: absolute;
	top: 0;left: 100%;
	z-index: 2;
	margin-left: -6px;
}
.tile-sticker:before {
	border-top-color: #F4555C;
}
.tile-sticker:after {
	top: auto;
	bottom: 0;
	border-bottom-color: #F4555C;
}
.tile-sticker.st-second {
	background: #2CAFE6;
	padding: 0 5px 0 10px;
}
.tile-sticker.st-second:before, .tile-sticker.st-second:after {
	left: auto;
	right: 100%;
	border-left-color: rgba(0,0,0,0);
	border-right-color: #2CAFE6;
	margin-left: auto;
	margin-right: -6px;
}
.tile-sticker.st-second:before {
	border-top-color: #2CAFE6;
	border-right-color: #2CAFE6;
	border-left-color: rgba(0,0,0,0);
}
.tile-sticker.st-second:after {
	border-bottom-color: #2CAFE6;
	border-right-color: #2CAFE6;
	border-left-color: rgba(0,0,0,0);
}
.bg-section-box {
	position: relative;
	background: #F3FCFF;
	padding: 80px 0 10px 0;
}
.bg-page {
	background: #F3FCFF;
}
.compare-slider-box {
	margin-bottom: 55px;
}
.compare-slider-box .slider-wrap {
	margin: 0 -8px;
	padding: 0 40px;
	display: block;
	position: relative;
}
.compare-slider-box .slider {
	position: relative;
}
.compare-slider-box .sl-wrap {
	padding: 0 8px;
}
.compare-slider-box .title-inner-wrap {
	margin-bottom: 30px;
}
.compare-slider-box .slider-button-main {
	position: absolute;
	top: 50%;left: -40px;
}
.compare-slider-box .slider-button-main-next {
	left: auto;
	right: -40px;
}
@media (max-width: 1023px) {
	.compare-slider-box .slider-wrap {
		padding: 0;
	}
	.slick-dots {
        li {
            button {
                &:hover, &.active {
                    background-color: #c4c4c4;
                }
            }
        }
    }
}